/*rewatch 5:30*/

:root {
  --branding-color: #1d4672;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #272142;
  --background-color-sections: #eff4fe;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  color: black;
  line-height: 1.5;
}
h3 {
  font-family: var(--heading-font-family);
  font-size: 54px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--background-color-sections);
  text-align: center;
  padding: 160px 20px;
}
.hero h3 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: var(--secondary-color);
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  margin-top: 28px;
  line-height: 2;
  color: var(--secondary-color);
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: #c7d7f7;
  font-size: 18px;
  line-height: 27px;
  padding: 20px 30px;
  font-weight: 500;
}
.btn-branding-outline {
  background-color: var(--background-color-sections);
  border-radius: 4px;
  border-color: #1d4672;
  font-size: 18px;
  line-height: 27px;
  padding: 20px 30px;
  font-weight: 500;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 70px;
  }
  .btn-branding-outline {
    display: block;
    justify-content: center;
  }
  .hero {
    padding: 80px 20px;
  }
}
